<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- %p级别 %m消息 %c.%M包+方法 %F:%L文件+行 -->
    <!--<property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} | %p | %m | %c.%M | %F:%L %n"/>-->
    <property name="pattern" value="%d{mm:ss} %-5level %logger{36} >>> %msg%n"/>

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT_TEXT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>%m %n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <!-- daily rollover -->
        <fileNamePattern>error.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
        <!-- keep 30 days' worth of history -->
        <maxHistory>30</maxHistory>
    </appender>

    <logger name="org.springframework" level="WARN" />
    <logger name="org.apache" level="WARN" />

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>